# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Virtual Environments =====
venv/
.env/
.conda/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== ML / Models =====
*.h5
*.pkl
*.joblib

# ===== Logs =====
*.log

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== Editors =====
.vscode/
.idea/


Churn_Modelling.csv